# Dependencies
node_modules/

# Cypress binary files and cache
.recommender/

# Test artifacts and results
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/results/
cypress/reports/

# Mochawesome reports (Generated in CI)
mochawesome.json
public/

# OS and IDE system files
Thumbs.db
.DS_Store
.vscode/
npm-debug.log*